name: Testing

on:
    push:      

jobs: 
    Testing:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os : [windows-latest, macos-latest, ubuntu-latest]
                exclude:
                    - os: macos-latest
            max-parallel: 2

        steps:
          - name: Hello
            run: echo "Hello to you"

          - name: Second step
            run: |
              echo "I am ${{runner.os}}"

          - name: Sleeping now ok
            run: sleep 5
        
    Second_Job:
        runs-on: ubuntu-latest
        needs: Testing
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-python@v6
              with:
                python-version: '3.13' 
            - run: python my_script.py

            - name: Install Bandit and scan code
              run: |
                pip install bandit 
                bandit -r . -f json -o bandit-result.json

            - name: Upload artifact
              if: always()
              uses: actions/upload-artifact@v4
              with:
                name: my-artifact
                path: bandit-result.json


    Download_Artifact:
        needs: Second_Job
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Downloading the artifact
              uses: actions/download-artifact@v4
              with:
                name: my-artifact
                path: bandit-result.json

            - name: checking files
              run: ls -ltrh

            - name: see json
              run: cat bandit-result.json
